.PC_CONTAINER {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 960px;
  max-width: 1920px;
  height: 100%;
  position: relative;
  background: white;
}

.MENU_BAR {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 230px;
  height: 100%;
  background: white;
  border-right: 1px black solid;
}

.MENU_TOP_IMAON {
  width: 209px;
  height: 30px;
  left: 10px;
  top: 205px;
  position: absolute;
}
.MENU_TOP_MEMBERSHIP {
  width: 209px;
  height: 30px;
  left: 10px;
  top: 240px;
  position: absolute;
}
.MENU_TOP_CE {
  width: 209px;
  height: 30px;
  left: 10px;
  top: 275px;
  position: absolute;
}
.MENU_TOP_SEARCH {
  width: 209px;
  height: 30px;
  left: 10px;
  top: 310px;
  position: absolute;
}
.MENU_TOP_BOX {
  width: 209px;
  height: 30px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  border-radius: 30px;
  border: 1px black solid;
}
.MENU_TOP_FONT {
  width: 209px;
  height: 22.65px;
  left: 0px;
  top: 3.6px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: Nunito Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.MENU_TOP_SNS {
  width: 205px;
  height: 37px;
  left: 12px;
  top: 357px;
  position: absolute;
}
.MENU_TOP_SNS_INSTA {
  width: 37px;
  height: 37px;
  left: 0px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.MENU_TOP_SNS_TWITTER {
  width: 37px;
  height: 37px;
  left: 42px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.MENU_TOP_SNS_YTB {
  width: 37px;
  height: 37px;
  left: 84px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.MENU_TOP_SNS_STORE {
  width: 37px;
  height: 37px;
  left: 126px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.MENU_TOP_SNS_MAIL {
  width: 37px;
  height: 37px;
  left: 168px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.MENU_SUB {
  width: 229px;
  height: 220px;
  left: 0px;
  top: 860px;
  position: absolute;
}
.MENU_SUB_BOX {
  width: 229px;
  height: 220px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
}
.MENU_SUB_EXHIBITIONS {
  width: 215px;
  height: 25px;
  left: 5px;
  top: 0px;
  position: absolute;
}
.MENU_SUB_PROGRAMS {
  width: 215px;
  height: 25px;
  left: 5px;
  top: 30px;
  position: absolute;
}
.MENU_SUB_ARCHIVES {
  width: 215px;
  height: 25px;
  left: 5px;
  top: 60px;
  position: absolute;
}
.MENU_SUB_VISIT {
  width: 215px;
  height: 25px;
  left: 5px;
  top: 90px;
  position: absolute;
}
.MENU_SUB_ABOUT {
  width: 215px;
  height: 25px;
  left: 5px;
  top: 120px;
  position: absolute;
}
.MENU_SUB_NOTICE {
  width: 215px;
  height: 25px;
  left: 5px;
  top: 150px;
  position: absolute;
}
.MENU_SUB_BOX {
  width: 216.17px;
  height: 25px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
}
.MENU_SUB_FONT {
  width: 200px;
  height: 12.5px;
  left: 5px;
  top: 6px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Nunito Sans;
  font-weight: 400;
  word-wrap: break-word;
}
.MENU_SUB_MYACCOUNT {
  width: 229px;
  height: 35px;
  left: 0px;
  top: 185px;
  position: absolute;
}
.MENU_SUB_BOX_BLK {
  width: 230.24px;
  height: 35px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: black;
}
.MENU_SUB_FONT_BLK {
  width: 200px;
  height: 17.5px;
  left: 10px;
  top: 8.4px;
  position: absolute;
  color: white;
  font-size: 18px;
  font-family: Nunito Sans;
  font-weight: 600;
  word-wrap: break-word;
}

.MAIN {
  width: calc(100%-230px);
  height: 100vh;
  margin-left: auto;
  position: relative;
}

.MAIN_BOX {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100%-230px);
  height: 100vh;
}

.MAIN_BOX > div:first-child {
  width: 1000px;
  background-img: url("");
}

.MAIN_BOX > div:last-child {
  width: 1000px;
  background-image: url("");
  background-size: 100% auto;
}

.FAKE_CONTENT {
  width: 100%;
  height: 100%;
}

.NEW_FOOTER {
  position: fixed;
  z-index: 1;
  width: calc(100%-230px);
  height: 120px;
  background-color: white;
  border-top: 1px solid black;
}

.BOX_LEFT {
  height: 1079px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 19px;
  padding-bottom: 19px;
  left: 230px;
  top: 0px;
  position: absolute;
  background: linear-gradient(0deg, 0%, 100%),
    linear-gradient(0deg, white 0%, white 100%);
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.BOX_LEFT_CIRCLE {
  width: 1035px;
  height: 1035px;
  background: #d9d9d9;
  border-radius: 9999px;
  border: 1px black solid;
}

.BOX_RIGHT {
  width: 845px;
  height: 1080px;
  padding-top: 22px;
  padding-bottom: 22px;
  left: 1075px;
  top: 0px;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.BOX_RIGHT_OUTBOX {
  width: 845px;
  height: 1079px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-left: 1px black solid;
}
.BOX_RIGHT_INBOX {
  width: 820px;
  height: 1035px;
  background: #d9d9d9;
  border-left: 1px black solid;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.FOOTER {
  width: 1690px;
  height: 120px;
  left: 230px;
  top: 1079px;
  position: absolute;
}
.FOOTER_BOX {
  width: 845px;
  height: 120px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  border-top: 1px black solid;
}
.FOOTER1 {
  width: 845px;
  height: 120px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.FOOTER2 {
  width: 845px;
  height: 120px;
  left: 845px;
  top: 0px;
  position: absolute;
}
.FOOTER_CONTENTS {
  left: 11px;
  top: 12px;
  position: absolute;
  color: black;
  font-size: 14px;
  font-family: Nunito Sans;
  font-weight: 400;
  word-wrap: break-word;
}
.FOOTER_BTN_FONT {
  left: 6px;
  top: 3px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 14px;
  font-family: Nunito Sans;
  font-weight: 400;
  word-wrap: break-word;
}
.FOOTER_BTN1 {
  width: 82px;
  height: 25px;
  left: 14px;
  top: 80px;
  position: absolute;
}
.FOOTER_BTN1_BOX {
  width: 82px;
  height: 25px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #e4e4e4;
  border: 1px black solid;
}
.FOOTER_BTN2 {
  width: 118px;
  height: 25px;
  left: 855px;
  top: 80px;
  position: absolute;
}
.FOOTER_BTN2_BOX {
  left: 6px;
  top: 3px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 14px;
  font-family: Nunito Sans;
  font-weight: 400;
  word-wrap: break-word;
}
.FOOTER_BTN3 {
  width: 60px;
  height: 25px;
  left: 983px;
  top: 80px;
  position: absolute;
}
.FOOTER_BTN3_BOX {
  width: 60px;
  height: 25px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #e4e4e4;
  border: 1px black solid;
}
.FOOTER_BTN4 {
  width: 92px;
  height: 25px;
  left: 1053px;
  top: 80px;
  position: absolute;
}
.FOOTER_BTN4_BOX {
  width: 92px;
  height: 25px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #e4e4e4;
  border: 1px black solid;
}
