/* popup 미디어쿼리 : 980 */

#POPUP1, #POPUP2, #POPUP3 {
  box-sizing: border-box;
  position: fixed;
  width: 288px;
  height: 288px;
  padding: 13px 10px;
  background-color: white;
  border: 1px solid black;
  font-size: 105%;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  z-index: 1;
}

@media (max-width: 980px) {
  #POPUP1, #POPUP2, #POPUP3 {
    height: 140px;
  }
}

#POPUP1:hover, #POPUP2:hover, #POPUP3:hover {
  background-color: yellow;
}

.POPUP_CLOSE {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
  background-image: url("IMG/popup_close.png");
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#POPUP1:hover > .POPUP_CLOSE,
#POPUP2:hover > .POPUP_CLOSE,
#POPUP3:hover > .POPUP_CLOSE {
  background-color: black;
  background-image: url("IMG/popup_close_w.png");
}

.POPUP_TITLE {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  margin-bottom: 5px;
  font-size: 105%;
}

.POPUP_TEXT {
  margin-top: 15px;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  line-height: 1.4;
}

.POPUP_TEXT:lang(ko) {
  font-family: 'Noto Sans KR', sans-serif;
}

#POPUP1 {
  left: 250px;
  top: 40px;
}

@media (max-width: 980px) {
  #POPUP1 {
    left: 120px;
  }
}

#POPUP2 {
  left: 400px;
  top: 150px;
}
@media (max-width: 980px) {
  #POPUP2 {
    left: 170px;
  }
}

#POPUP3 {
  left: 700px;
  top: 400px;
}
@media (max-width: 980px) {
  #POPUP3 {
    left: 470px;
  }
}

