.MENUBAR {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  width: 229px;
  height: 100%;
  background: white;
  border-right: 1px solid black;
  z-index: 10;
}

#MENU_OPEN_BUTTON_BOX {
  display: none;
  background-color: white;
  border: 1px solid black;
  top: 10px;
  width: 40px;
  height: 40px;
  position: fixed;
  left: calc(100vw - 50px);
  text-align: center;
  cursor: pointer;
  z-index: 10;
}
#MENU_OPEN_BUTTON {
  display: none;
  margin: auto;
  font-size: 31px;
  font-weight: 100;
  line-height: 40px;
  background-color: transparent; /* 배경 투명 */
  border: none; /* 버튼 자체의 테두리 제거 */
  transition: transform 0.3s ease;
  cursor: pointer;
  z-index: 10;
}

@media (min-width: 981px) {
  #MENUBAR {
    display: block;
  }
  #MENU_OPEN_BUTON_BOX {
    display: none;
  }
  #MENU_OPEN_BUTTON {
    display: none;
  }
}

@media (max-width: 980px) {
  .open .MENUBAR {
    display: block;
    width: 50vw;
  }
  .open #MENU_SUB {
    top: -23px;
  }
  .open #MENU_SUB_EXHIBITIONS,
  .open #MENU_SUB_PROGRAMS,
  .open #MENU_SUB_ARCHIVES,
  .open #MENU_SUB_VISIT,
  .open #MENU_SUB_ABOUT,
  .open #MENU_SUB_NOTICE {
    width: calc(50vw - 20px);
  }
  .open #MENU_SUB_MYACCOUNT {
    width: calc(50vw - 10px);
  }
  .open #MENU_TOP_SNS {
    top: 93vh;
    z-index: 20;
  }
  .open #MENU_OPEN_BUTTON {
    transform: rotate(45deg);
  }
  #MENU_LOGO,
  #MENU_TOP {
    display: none;
  }
  #MENU_OPEN_BUTTON,
  #MENU_OPEN_BUTTON_BOX {
    display: block;
  }
}

.MENU_TOP_IMAON {
  width: 209px;
  height: 28px;
  left: 10px;
  top: 202px;
  position: absolute;
  background: white;
  border-radius: 30px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
}

.MENU_TOP_MEMBERSHIP {
  width: 209px;
  height: 28px;
  left: 10px;
  top: 236px;
  position: absolute;
  background: white;
  border-radius: 30px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
}

.MENU_TOP_CE {
  width: 209px;
  height: 28px;
  left: 10px;
  top: 270px;
  position: absolute;
  background: white;
  border-radius: 30px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
}

.MENU_TOP_SEARCH {
  width: 209px;
  height: 28px;
  left: 10px;
  top: 304px;
  position: absolute;
  background: white;
  border-radius: 30px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
}

.MENU_TOP_IMAON:hover,
.MENU_TOP_MEMBERSHIP:hover,
.MENU_TOP_CE:hover {
  background-color: yellow;
}

.MENU_TOP_SEARCH:hover {
  background-color: black;
}

.MENU_TOP_SNS {
  width: 205px;
  height: 37px;
  left: 12px;
  top: 355px;
  position: absolute;
}

.MENU_TOP_SNS_INSTA {
  width: 37px;
  height: 37px;
  left: 0px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}

.MENU_TOP_SNS_TWITTER {
  width: 37px;
  height: 37px;
  left: 42px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}

.MENU_TOP_SNS_YTB {
  width: 37px;
  height: 37px;
  left: 84px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}

.MENU_TOP_SNS_STORE {
  width: 37px;
  height: 37px;
  left: 126px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}

.MENU_TOP_SNS_MAIL {
  width: 37px;
  height: 37px;
  left: 168px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}

.MENU_TOP_SNS_INSTA path:hover,
.MENU_TOP_SNS_TWITTER path:hover,
.MENU_TOP_SNS_YTB path:hover,
.MENU_TOP_SNS_STORE path:hover {
  fill: yellow;
}

.MENU_TOP_SNS_MAIL svg:hover rect {
  fill: yellow;
}

.MENU_SUB {
  position: fixed;
  width: 100%;
  height: 220px;
  left: 10;
  bottom: 0;
}

.MENU_SUB_BACKBOX {
  width: 229px;
  height: 200px;
  left: 0;
  bottom: 0;
  position: fixed;
  background: white;
}

.MENU_SUB_EXHIBITIONS {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 30px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
  cursor: pointer;
}

.MENU_SUB_PROGRAMS {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 55px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
  cursor: pointer;
}

.MENU_SUB_ARCHIVES {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 80px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
  cursor: pointer;
}

.MENU_SUB_VISIT {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 105px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
  cursor: pointer;
}

.MENU_SUB_ABOUT {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 130px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
  cursor: pointer;
}

.MENU_SUB_NOTICE {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 155px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
  cursor: pointer;
}

.MENU_SUB_MYACCOUNT {
  width: 219px;
  height: 35px;
  left: 0px;
  padding-left: 10px;
  top: 185px;
  padding-top: 4px;
  position: absolute;
  background: black;
  color: white;
  font-size: 18.9px;
  font-weight: 400;
  cursor: pointer;
  align-items: center;
  line-height: 35px;
}

.MENU_SUB_MORE {
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 2px;
  top: 0px;
}

.MENU_SUB_EXHIBITIONS:hover,
.MENU_SUB_PROGRAMS:hover,
.MENU_SUB_ARCHIVES:hover,
.MENU_SUB_VISIT:hover,
.MENU_SUB_ABOUT:hover,
.MENU_SUB_NOTICE:hover {
  background-color: yellow;
}
