/* myaccount 미디어쿼리 : 980 769 */

.PAGE_TITLE {
  position: absolute;
  width: 245px;
  height: 47px;
  left: 10px;
  top: 22px;
  font-size: 46.2px;
  font-weight: 400;
  line-height: 46;
  display: flex;
  align-items: center;
}

#LOGIN_TITLE {
  position: absolute;
  width: calc(((100vw - 230px) / 2) - 10px);
  height: 34px;
  left: 10px;
  top: 225px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: black;
}

#LOGIN_AREA {
  position: absolute;
  height: 238.98px;
  left: 10px;
  top: 265px;
  width: calc(((100vw - 230px) / 2) - 10px);
}

#LOGIN_ID_LABEL {
  position: absolute;
  height: 28px;
  left: 0px;
  top: 4px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: black;
}

#LOGIN_ID_INPUT {
  position: absolute;
  height: 43px;
  left: 0px;
  right: 15px;
  top: 28px;
  background: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#LOGIN_PW_LABEL {
  position: absolute;
  height: 19px;
  left: 0px;
  top: 84px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: black;
}

#LOGIN_PW_INPUT {
  position: absolute;
  height: 43px;
  left: 0px;
  right: 15px;
  top: calc(50% - 43px/2 + 10.01px);
  background: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#LOGIN_PW_INPUT_ICON {
  position: absolute;
  right: 25px;
  top: 121.5px;
}

#LOGIN_REMEMBER_LABEL {
  position: absolute;
  height: 28px;
  left: 98.27px;
  top: 172px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}

#LOGIN_REMEMBER_INPUT {
  box-sizing: border-box;
  position: absolute;
  width: 13px;
  height: 13px;
  left: 78.64px;
  top: 179px;
  background: #FFFFFF;
  border: 1px solid #767676;
  border-radius: 2.5px;
}

#LOGIN_BTN {
  box-sizing: border-box;
  position: absolute;
  width: 60.64px;
  height: 32.8px;
  left: 0px;
  top: 170px;
  color: white;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background: #000000;
  border: 1px solid #000000;
  cursor: pointer;
}

#LOGIN_FORGET_LABEL {
  position: absolute;
  height: 22px;
  left: 0px;
  top: 213.8px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #000000;
}

#JOIN_TITLE {
  position: absolute;
  height: 34px;
  left: calc((100vw - 230px)/2);
  right: 10px;
  top: 225px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: black;
  width: calc(((100vw - 230px) / 2) - 10px);
}

#JOIN_AREA {
  position: absolute;
  height: 497.17px;
  left: calc(((100vw - 230px)/2));
  right: 10px;
  top: 265px;
  width: calc(((100vw - 230px) / 2) - 10px);
  padding-bottom: 160px;
}

#JOIN_LNAME_LABEL {
  position: absolute;
  height: 28px;
  left: 0px;
  top: 4px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: flex-start;
  color: #000000;
}

#JOIN_LNAME_INPUT {
  position: absolute;
  height: 43px;
  left: 0px;
  right: calc(50% + 40px);
  top: 28px;
  background: #FFFFFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#JOIN_FNAME_LABEL {
  position: absolute;
  height: 28px;
  left: calc(50% - 20px);
  right: 40px;
  top: 4px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}

#JOIN_FNAME_INPUT {
  position: absolute;
  height: 43px;
  left: calc(50% - 20px);
  right: 30px;
  top: 28px;
  background: #FFFFFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#JOIN_PHONE_LABEL {
  position: absolute;
  height: 28px;
  left: 0px;
  right: 10px;
  top: 84px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}

#JOIN_PHONE_INPUT {
  position: absolute;
  height: 43px;
  left: 0px;
  right: 30px;
  top: 108px;
  background: #FFFFFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#JOIN_ID_LABEL {
  position: absolute;
  height: 28px;
  left: 0px;
  right: 40px;
  top: 164px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}

#JOIN_ID_INPUT {
  position: absolute;
  height: 43px;
  left: 0px;
  right: 30px;
  top: 188px;
  background: #FFFFFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#JOIN_MAIL_LABEL {
  position: absolute;
  height: 28px;
  left: 0px;
  right: 40px;
  top: 244px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}

#JOIN_MAIL_INPUT {
  position: absolute;
  height: 43px;
  left: 0px;
  right: 30px;
  top: 268px;
  background: #FFFFFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#JOIN_PW_LABEL {
  position: absolute;
  height: 28px;
  left: 0px;
  right: 30px;
  top: 324px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}

#JOIN_PW_INPUT {
  position: absolute;
  height: 43px;
  left: 0px;
  right: 30px;
  top: 348px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background: #FFFFFF;
}

#JOIN_PW_INPUT_ICON {
  position: absolute;
  right: 40px;
  top: 362px;
}

#JOIN_INFO_LABEL {
  position: absolute;
  height: auto;
  left: 0px;
  top: calc(50% - 43px/2 + 85px);
  right: 40px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #000000;
  word-wrap: break-word;
  margin-bottom: 10px;
}

#JOIN_BTN {
  box-sizing: border-box;
  position: absolute;
  width: 99.28px;
  height: 32.8px;
  left: 0px;
  top: calc(50% - 43px / 2 + 140px + 43px);
  color: white;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background: #000000;
  border: 1px solid #000000;
  cursor: pointer;
}

input:focus {
  outline: none;
  font-family: 'Noto Sans KR';
}
input {
  font-family: 'Noto Sans KR';
}

/* 980부터 TAB */
@media (max-width: 980px) {

  .PAGE_TITLE {
    left: 10px;
    top: 110px;
    font-size: 34.65px;
  }
  
  #LOGIN_TITLE {
    left: 10px;
  }
  
  #LOGIN_AREA {
    left: 10px;
    width: 50%;
  }

  #LOGIN_FORGET_LABEL {
    font-size: 15px;
  }
  
  #JOIN_TITLE {
    left: calc((50vw + 10px));
  }

  #JOIN_AREA {
    left: calc(50vw + 10px);
    right: 10px;
    width: 50%;
  }

  #JOIN_INFO_LABEL {
    font-size: 15px;
  }

}

/* 769부터 세로 레이아웃 */
@media (max-width: 769px) {

  #LOGIN_TITLE {
    left: 10px;
    width: 100vw;
  }
  
  #LOGIN_AREA {
    width: 100%;
    margin-right: 200px;
  }

  #LOGIN_ID_INPUT,
  #LOGIN_PW_INPUT {
    right: 30px;
  }
  
  #JOIN_TITLE {
    top: 550px;
    left: 10px;
    width: 100%;
  }

  #JOIN_AREA {
    top: 590px;
    left: 10px;
    right: 10px;
    width: 100%;
  }

  #JOIN_INFO_LABEL {
    font-size: 15px;
  }

}

