* {
  font-family: "Nunito", serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
*:lang(ko) {
  font-family: 'Noto Sans KR', sans-serif;
}

.PC_CONTAINER {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 980px;
  max-width: 1920px;
  height: calc(100vh + 120px);
  position: relative;
  background: white;
}

.MENUBAR {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 229px;
  height: 100%;
  background: white;
  border-right: 1px solid black;
  z-index: 10;
}
.MENU_TOP_IMAON {
  width: 209px;
  height: 28px;
  left: 10px;
  top: 202px;
  position: absolute;
  background: white;
  border-radius: 30px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.MENU_TOP_MEMBERSHIP {
  width: 209px;
  height: 28px;
  left: 10px;
  top: 236px;
  position: absolute;
  background: white;
  border-radius: 30px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.MENU_TOP_CE {
  width: 209px;
  height: 28px;
  left: 10px;
  top: 270px;
  position: absolute;
  background: white;
  border-radius: 30px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.MENU_TOP_SEARCH {
  width: 209px;
  height: 28px;
  left: 10px;
  top: 304px;
  position: absolute;
  background: white;
  border-radius: 30px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.MENU_TOP_IMAON:hover,
.MENU_TOP_MEMBERSHIP:hover,
.MENU_TOP_CE:hover,
.MENU_TOP_SEARCH:hover {
  background-color: yellow;
}


.MENU_TOP_SNS {
  width: 205px;
  height: 37px;
  left: 12px;
  top: 355px;
  position: absolute;
}
.MENU_TOP_SNS_INSTA {
  width: 37px;
  height: 37px;
  left: 0px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.MENU_TOP_SNS_TWITTER {
  width: 37px;
  height: 37px;
  left: 42px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.MENU_TOP_SNS_YTB {
  width: 37px;
  height: 37px;
  left: 84px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.MENU_TOP_SNS_STORE {
  width: 37px;
  height: 37px;
  left: 126px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.MENU_TOP_SNS_MAIL {
  width: 37px;
  height: 37px;
  left: 168px;
  top: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.MENU_TOP_SNS_INSTA path:hover,
.MENU_TOP_SNS_TWITTER path:hover,
.MENU_TOP_SNS_YTB path:hover,
.MENU_TOP_SNS_STORE path:hover {
  fill: yellow;
}
.MENU_TOP_SNS_MAIL svg:hover rect {
  fill: yellow;
}


.MENU_SUB {
  position: fixed;
  width: 100%;
  height: 220px;
  left: 10;
  bottom: 0;
}
.MENU_SUB_BACKBOX {
  width: 229px;
  height: 200px;
  left: 0;
  bottom: 0;
  position: fixed;
  background: white;
}
.MENU_SUB_EXHIBITIONS {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 30px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
}
.MENU_SUB_PROGRAMS {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 55px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
}
.MENU_SUB_ARCHIVES {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 80px;
  position: absolute;
  background-color: white;
  color: black;
  font-weight: 400;
}
.MENU_SUB_VISIT {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 105px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
}
.MENU_SUB_ABOUT {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 130px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
}
.MENU_SUB_NOTICE {
  width: 210px;
  height: 20px;
  left: 10px;
  top: 155px;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 18.9px;
  font-weight: 400;
}
.MENU_SUB_MYACCOUNT {
  width: 219px;
  height: 35px;
  left: 0px;
  padding-left: 10px;
  top: 185px;
  padding-top: 4px;
  position: absolute;
  background: black;
  color: white;
  font-size: 18.9px;
  font-weight: 400;
}
.MENU_SUB_MORE {
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 200px;
  top: 0px;
}
.MENU_SUB_EXHIBITIONS:hover,
.MENU_SUB_PROGRAMS:hover,
.MENU_SUB_ARCHIVES:hover,
.MENU_SUB_VISIT:hover,
.MENU_SUB_ABOUT:hover,
.MENU_SUB_NOTICE:hover {
  background-color: yellow;
}


.MAIN {
  width: calc(100% - 230px);
  height: 100vh;
  margin-left: 230px;
  margin-bottom: 120px;
  position: relative;
}
.MAIN_BOX {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.MAIN_BOX_1 {
  position: fixed;
  top: 10px;
  left: 242px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}
.MAIN_CIRC {
  width: 100vh;
  height: 100vh;
  border-radius: 100%;
  border: 1px black solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: main1 9s infinite;
}
@keyframes main1 {
  0% {
    background-image: url("IMG/main1_img1.jpg");
    opacity: 1;
  }
  33.33% {
    background-image: url("IMG/main1_img2.jpg");
    opacity: 1;
  }
  66.66% {
    background-image: url("IMG/main1_img3.jpg");
    opacity: 1;
  }
  100% {
    background-image: url("IMG/main1_img1.jpg");
    opacity: 1;
  }
}

.MAIN_BOX_2 {
  position: relative;
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
  width: 50%;
}
.MAIN_OUTREC {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: white;
  border-left: 1px black solid;
}
.MAIN_INREC {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  min-width: 500px;
  height: calc(100% - 20px);
  border-left: 1px black solid;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  overflow: hidden;
}
.SLIDER {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.SLIDES {
  display: flex;
  width: 100%;
  height: 100%;
  animation: main2 18s infinite;
}
.SLIDE {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
}

.SLIDE:nth-child(1) {background-image: url("IMG/main2_img1.jpg");}
.SLIDE:nth-child(2) {background-image: url("IMG/main2_img2.jpg");}
.SLIDE:nth-child(3) {background-image: url("IMG/main2_img3.jpg");}
.SLIDE:nth-child(4) {background-image: url("IMG/main2_img4.jpg");}
.SLIDE:nth-child(5) {background-image: url("IMG/main2_img5.jpg");}
.SLIDE:nth-child(6) {background-image: url("IMG/main2_img6.jpg");}

@keyframes main2 {
  0% {transform: translateX(0);}
  16.67% {transform: translateX(-488px);}
  33.33% {transform: translateX(-976px);}
  50% {transform: translateX(-1464px);}
  66.67% {transform: translateX(-1952px);}
  83.33% {transform: translateX(-2440px);}
  100% {transform: translateX(0);}
}

.FOOTER {
  position: relative;
  height: 140px;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid black;
  z-index: 8;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.FOOTER1 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 120px;
  padding: 10px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Noto Sans KR', 'Arial', sans-serif !important;
  background-color: white;
  z-index: 9;  
}
.FOOTER2 {
  position: absolute;
  height: 120px;
  padding: 10px;
  bottom: 0;
  left: 30vw;
  width: 100%;
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Noto Sans KR', 'Arial', sans-serif !important;
  background-color: white;
  z-index: 15;
}
.FOOTER_BTN {
  position: relative;
  display: inline-block;
  left: 0;
  margin-top: 10px;
  margin-right: 5px;
  padding: 0px 5px;
  text-align: center;
  color: black;
  background-color: #f3f3f3;
  border: 1px solid black;
  text-align: center;
  z-index: 10;
  font-family: 'Nunito', sans-serif;
}

#POPUP1 {
  box-sizing: border-box;
  position: fixed;
  width: 288px;
  height: 288px;
  left: 250px;
  top: 40px;
  padding: 13px 10px;
  background-color: white;
  border: 1px solid black;
  font-size: 105%;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  z-index: 1;
}
#POPUP2 {
  box-sizing: border-box;
  position: fixed;
  width: 288px;
  height: 288px;
  left: 400px;
  top: 150px;
  padding: 13px 10px;
  background-color: white;
  border: 1px solid black;
  font-size: 105%;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  z-index: 2;
}
#POPUP3 {
  box-sizing: border-box;
  position: fixed;
  width: 288px;
  height: 288px;
  left: 900px;
  top: 300px;
  padding: 13px 10px;
  background-color: white;
  border: 1px solid black;
  font-size: 105%;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  z-index: 3;
}
.POPUP_TITLE {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  margin-bottom: 5px;
  font-size: 105%;
}
.POPUP_TEXT {
  margin-top: 30px;
  font-size: 105%;
  font-family: 'Nunito', sans-serif;
  line-height: 1.4;
}
.POPUP_TEXT:lang(ko) {
  font-family: 'Noto Sans KR', sans-serif;
}
.POPUP_CLOSE {
  left: 276px;
  top: -10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  background-image: url("IMG/popup_close.png");
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
}
.POPUP_CLOSE:hover {
  background-color: black;
  background-image: url("IMG/popup_close_w.png");
}